<section class="section-card-announcement" id="announcement-grid">
    {% for announcement in announcements %}
        <div class="container-card-announcement" data-category-id="{{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.id }}" data-subcategory-id="{{ announcement.subCategoryAnnouncement.id }}" data-type="{{ announcement.typeAnnouncement|lower }}" data-created="{{ announcement.createdAtAnnouncement|date('Y-m-d') }}" data-start="{{ announcement.availabilityAnnouncement|date('Y-m-d') }}" data-end="{{ announcement.expiryAnnouncement|date('Y-m-d') }}" data-department="{{ announcement.departmentAnnouncement }}" data-remuneration="{{ announcement.remuneration ? 'true' : 'false' }}">
          <div class="card-announcement-left">
            <img src="{{ ('images/annonce/image-categorie-annonce/' ~ announcement.subCategoryAnnouncement.getCategoryAnnouncement.imgCategoryAnnouncement) | imagine_filter('thumbnail_large') }}"
            alt="Image de la catégorie {{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.nameCategoryAnnouncement }}"
            loading="lazy" />
            <div class="overlay-card-announcement-left">
              <div class="category-line">
                <i class="bi bi-circle-fill {{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.colorCategoryAnnouncement }}"></i>
                <span class="category-name">
                  {{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.nameCategoryAnnouncement }}
                </span>
              </div>

              <p class="announcement-type">
                {{ announcement.typeAnnouncement|upper }}
              </p>

              <p class="role">
                {{ announcement.subCategoryAnnouncement.nameSubCategory }}
              </p>
            </div>
          </div>

            <div class="card-announcement-right">
                <div class="date">
                    <span class="label">
                        {% if announcement.typeAnnouncement == 'Disponible' %}
                            Période de disponibilité :
                        {% else %}
                            Période de tournage :
                        {% endif %}
                    </span>
                    <span class="value">
                        Du {{ announcement.availabilityAnnouncement|date('d/m/Y') }} au {{ announcement.expiryAnnouncement|date('d/m/Y') }}
                    </span>
                    <div class="separator"></div>
                </div>

                <div class="location">
                    <span class="label">Département :</span>
                    <span class="value">{{ announcement.departmentAnnouncement }}</span><br />
                    <span class="label">Ville :</span>
                    <span class="value">{{ announcement.cityAnnouncement }}</span><br />
                    <span class="label">Rémunération :</span>
                    <span class="value">{{ announcement.remuneration ? 'Oui' : 'Non' }}</span>
                </div>

                <button class="btn-discover" onclick="openAnnouncementPopup({{ announcement.id }})">DÉCOUVRIR</button>

              {% set diff = announcement.expiryAnnouncement.diff(now) %}
              {% if announcement.expiryAnnouncement < now %}
                  <p class="expire">L’annonce est expirée</p>
              {% elseif diff.days == 0 %}
                  <p class="expire">L’annonce expire aujourd’hui</p>
              {% else %}
                  <p class="expire">L’annonce expire dans {{ diff.days }} jour{{ diff.days > 1 ? 's' : '' }}</p>
              {% endif %}
            </div>
        </div>
    {% endfor %}
    <p class="not-announcement" style="display: none;">Aucune annonce disponible pour le moment.</p>
</section>

{% for announcement in announcements %}
    {% include 'general/pop-up/pop-up-announcement.html.twig' with { announcement: announcement, now: now } %}
{% endfor %}

