<div class="announcement-popup" id="popup-announcement-{{ announcement.id }}">
  <div class="popup-content">
    
    <div class="popup-header-image">
    <img src="{{ asset('images/annonce/image-categorie-annonce/' ~ announcement.subCategoryAnnouncement.getCategoryAnnouncement.imgCategoryAnnouncement) | imagine_filter('thumbnail_large') }}"
    alt="Image de la catégorie {{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.nameCategoryAnnouncement }}"
    loading="lazy" />
    
    <div class="popup-header-overlay"></div>

    <div class="popup-line-top-left">
        <i class="bi bi-circle-fill {{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.colorCategoryAnnouncement }}"></i>
        <span class="popup-category">{{ announcement.subCategoryAnnouncement.getCategoryAnnouncement.nameCategoryAnnouncement }}</span>
    </div>

    <div class="popup-header-text">
        <h2 class="popup-type">{{ announcement.typeAnnouncement|upper }}</h2>
        <p class="popup-role">{{ announcement.subCategoryAnnouncement.nameSubCategory }}</p>
    </div>

    <button class="popup-close" onclick="closeAnnouncementPopup({{ announcement.id }})">&times;</button>
    </div>

    <div class="popup-body">
      <div class="popup-text">
        {{ announcement.textAnnouncement|nl2br }}
      </div>

      <div class="popup-infos">
        <p><strong>Période de tournage :</strong> Du {{ announcement.availabilityAnnouncement|date('d/m/Y') }} au {{ announcement.expiryAnnouncement|date('d/m/Y') }}</p>
        <p><strong>Département :</strong> {{ announcement.departmentAnnouncement }}</p>
        <p><strong>Ville :</strong> {{ announcement.cityAnnouncement }}</p>
        <p><strong>Rémunération :</strong> {{ announcement.remuneration ? 'Oui' : 'Non' }}</p>
      </div>

      <p class="btn-postuler">
          {{ announcement.linkAnnouncement }}
      </p>
      {% set diff = announcement.expiryAnnouncement.diff(now) %}
      {% if announcement.expiryAnnouncement < now %}
          <p class="popup-expire">L’annonce est expirée</p>
      {% elseif diff.days == 0 %}
          <p class="popup-expire">L’annonce expire aujourd’hui</p>
      {% else %}
          <p class="popup-expire">L’annonce expire dans {{ diff.days }} jour{{ diff.days > 1 ? 's' : '' }}</p>
      {% endif %}
    </div>
  </div>
</div>
